* {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw;
}

.main-layout {
    height: 100vh;
}

#eureka-logo {
    margin-left: 10.7%;
    margin-top: 3.4%;
    font-size: 4vw;
    color: #3D67FF;
    float: left;
    font-weight: bold;
}

#navbar {
    background-color: #FFFFFF;
    margin-left: -2.5%;
    margin-right: -2.5%;
    margin-top: -2.5%;
    padding-bottom: 1.5%;
}

#navbar-item-1{
    margin-left: 32.75%;
}

.navbar-item {
    display: inline;
    color: #606060;
    margin-left: 2.5%;
}

#first-app-store-logo {
    padding-top: 4%;
}

.apple-store-logo { 
    width: 9.5vw;
}

#section-1 {
    background: #F7F7F7;
    padding-bottom: 10%;
    margin-right: -2.5%;
    margin-left: -2.5%;
    margin-top: -2.5%;
}

#section-1-header {
    padding-top: 10%;
    margin-left: 10.7%;
    color: #323232;
    font-size: 4vw;
}

#section-1-text {
    margin-left: 10.7%;
    font-size: 1.7vw;
}

#second-app-store-logo {
    margin-left: 10.7%;
}

#home-picture {
    float: right;
    margin-right: 11%;
    padding-top: 7.5%;
    width: 35vw;
}

#section-2 {
    margin-right: -2.5%;
    margin-left: -2.5%;
    margin-top: -2.5%;
    background: #ECEDF1;
}

#section-2-header {
    padding-top: 5%;
    font-size: 3.4vw;
    text-align: center;
}

#section-2-top-text {
    text-align: center;
    font-size: 1.8vw;
    margin-bottom: 7%;
}

#column-portion{
    padding-bottom: 25%;
}

.column {
    float: left;
    width: 20%;
    text-align: center;
}

#column-1{
    margin-left: 14.5%;
}

#column-2 {
    margin-left: 6.5%;
}

#column-3 {
    margin-left: 6.5%; 
}

.advantage-picture{
    width: 8vw;
}

#section-3 {
    background-color: #F7F7F7;
    background-color: firebrick;
    margin-right: -2.5%;
    margin-left: -2.5%;
    margin-top: -2.5%;
    padding-bottom: 6%;
}

#section-3-header {
    padding-top: 5%;
    font-size: 3.4vw;
    text-align: center;
}

#picture-area {
    white-space: nowrap;
}

#gallery-picture-1{
    margin-left: 1.5%;
}

.gallery-picture {
    height: 16.4vw;

    /* display: inline-block; */
    /* margin-left: 2.5%;
    margin-left: 1%; */
}

#section-4 {
    background: #FFCE00;
    margin-right: -2.5%;
    margin-left: -2.5%;
    margin-top: -2.5%;
}

/* #iphone {
    float: left;
    margin-left: 15%;
    margin-top: 5%;
    width: 22vw;
} */

#iphone-half-1 {
    float: left;
    margin-left: 10%;
    width: 32.5vw;
    margin-top: -23%;
}

@media (max-width: 600px){
    #iphone-half-1 {
        /* margin-top: -23.465%; */
        margin-top: -23.4%;
    }
}

@media only screen and (max-width: 400px) {
    #iphone-half-1 {
        margin-top: -24%;
    }
  }

#section-4-header {
    padding-top: 11%;
    margin-left: 48%;
    font-size: 3.2vw;
    color: #323232;
}

#section-4-info {
    margin-left: 48%;
    margin-bottom: 3%;
    color: #323232;
}

#third-app-store-logo {
    margin-left: 6.9%;
    margin-bottom: 10%;
}

@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
    #third-app-store-logo {
        margin-left: 6%;
    }
  }

#section-6 {
    background-color: #3D67FF;
    color: #FFFFFF;
    text-align: center;
    margin-right: -2.5%;
    margin-left: -2.5%;
    margin-top: -2.5%;
}

#section-6-header {
    padding-top: 5%;
    font-size: 3.4vw;
}

#section-6-apple-logo {
    padding-bottom: 5%;
}

footer{
    background-color: black;
    color: white;
    margin-right: -2.5%;
    margin-left: -2.5%;
    margin-top: -2.5%;
}

#footer-links{
    margin-top: 7.5%;
    float: right;
    margin-right: 7.5%;
}

.footer-link{
    display: inline;
    font-size: 1.0vw;
}

#eureka-logo-in-footer{
    padding-top: 1.5%;
    margin-left: 10.7%;
    font-size:3vw;
}

#company-address{
    margin-left: 10.7%;
    padding-bottom: 0%;
}