* {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw;
}

#navbar {
    background-color: #FFFFFF;
}

#eureka-logo {
    margin-left: 8%;
    margin-right: 11.5%;
    font-size: 4vw;
    color: #3D67FF;
    display: inline;
    font-weight: bold;
}

.navbar-item {
    display: inline;
    color: #606060;
    margin-left: 2.5%;
}

.apple-store-logo { 
    width: 9.5vw;
}

#section-1 {
    background: #F7F7F7;
    padding-bottom: 10%;
}

#section-1-header {
    padding-top: 10%;
    margin-left: 10.7%;
    color: #323232;
    font-size: 4vw;
}

#section-1-text {
    margin-left: 10.7%;
    font-size: 1.7vw;
}

#second-app-store-logo {
    margin-left: 10.7%;
}

#home-picture {
    /* margin-left: 50%; */
    float: right;
    margin-right: 11%;
    padding-top: 7.5%;
    width: 35vw;
}

#section-2 {
    /* below margin top is kind of jenky, quick fix to having white space between divs */
    margin-top: -2.4%;
    background: #ECEDF1;
}

#section-2-header {
    padding-top: 5%;
    font-size: 3.4vw;
    text-align: center;
}

#section-2-top-text {
    text-align: center;
}