body {
    background: gray;
  }
  .button-up,
  .button-down,
  .button-right,
  .button-left {
    position: relative;
    padding: 5px;
    margin: 30px auto;
    background: #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.2s linear;
  }
  
  .button-down:hover {
    transform: translate3d(0, 10px, 0);
  }
  
  .button-up:hover {
    transform: translate3d(0, -10px, 0);
  }
  
  .button-right:hover {
    transform: translate3d(10px, 0, 0);
  }
  
  .button-left:hover {
    transform: translate3d(-10px, 0, 0);
  }
  
  .button-up::after,
  .button-down::after,
  .button-right::after,
  .button-left::after{
    content: "";
    position: absolute;
    left: 17px;
    z-index: 11;
    display: block;
    width: 25px;
    height: 25px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
  }
  .button-up::after {
    top: 20px;
    transform: rotate(45deg);
  }
  
  .button-down::after {
    top: 10px;
    transform: rotate(225deg);
  }
  
  .button-right::after {
    top: 15px;
    transform: rotate(135deg);
  }
  
  .button-left::after {
    top: 15px;
    transform: rotate(315deg);
  }