.faq-contact-us__main-layout{
    height: 100vh;
}

.faq-contact-us__top-picture{
    position: relative; 
    /* position relative is to have logo over this https://www.sitepoint.com/community/t/place-an-image-over-an-image/4264 */
    /* margin-left: -0.55%;
    margin-right: -0.55%;
    margin-top: -0.55%;
    width: 100.55vw; */
    margin: -2.1vw;
    padding: 0%;
    width: 102.1vw;
}

/* .top-section__invest-logo{ */
.header__invest-logo{
    position: absolute;
    top: 0;
    margin-left: 6vw;
    margin-top: 3vh;
    width: 10vw;
}

.apple-store-logo{
    width: 9.5vw;
}

/* .top-section__page-list{ */
.header__page-list{
    position: absolute;
    width: 99%;
    right: 8vw;
    top: 1%;
    text-align: right;
}

.header__page-list__item{
/* .top-section__page-list__item{ */
    display: inline-block;
    font-size: 1.5vw;
    margin-left: 3.5%;
    color: black;
}

a{
    text-decoration:none;
}

.top-section__header{
    position: absolute;
    top: 0;
    margin-top: 18%;
    margin-left: 31.5%;
    font-size: 3vw;
    color: white;
}

.faq-contact-us__section-1{
    /* padding-top: 12vh;
    padding-bottom: 9vh; */
    margin-top: 9%;
    margin-bottom: 9%;
}

.faq-contact-us__section-1__text-area{
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 3%;
    margin-top: 3%;
}

.faq-contact-us__section-1__section-header{
    color: #D6BB9C;
    font-size: 2.2vw;
    font-family: 'Roboto Condensed', sans-serif;
    /* padding-top: 12%;
    padding-bottom: 3%; */
    margin-top: 4%;
    margin-bottom: 3%;
}

.faq-contact-us__section-1__text-portion{
    border-left: 0.2vw solid #D6BB9C;
}

.faq-contact-us__section-1__text-portion__question {
    margin-left: 2vw;
    font-size: 1.3vw;
    font-family: roboto;
    color: #323232;
    font-weight: bold;
}

.faq-contact-us__section-1__text-portion__answer{
    margin-left: 2vw;
    font-size: 1.2vw;
    font-family: roboto;
}

.faq-contact-us__section-2 {
    background-color: #23232D;
    /* margin-left: -0.55%;
    margin-right: -1.1%;
    margin-top: -4.5vh; */

    margin: -2.1vw;
    padding: 0%;
    width: 102.1vw;
}

.faq-contact-us__section-2__header{
    margin-top: 20vh;
    margin-left: 6vw;
    color: #D6BB9C;
    font-size: 2vw;
}

.faq-contact-us__section-2__second-header{
    color: #FFFFFF;
    margin-left: 6vw;
    font-size: 3.4vw;
    /* color: red; */
}

.faq-contact-us__section-2__sentence{
    color: #FFFFFF;
    margin-left: 6vw;
    font-size: 1.5vw;
}

.faq-contact-us__section-2__general-inquiries{
    color: white;
    margin-left: 6vw;
    margin-top: 5vh;
    font-size: 1.5vw;
}

.faq-contact-us__section-2__email-address{
    margin-left: 6vw;
    color: white;
    font-size: 1.5vw;
}


.faq-contact-us__section-2__column {
    background-color: #23232D;
    float: left;
    width: 50%;
    height: 90vh;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .faq-contact-us__section-2__column {
      width: 100%;
    }
  } */

.faq-contact-us__section-2__form{
    margin-top: 15vh;
    /* margin-top: 15%; */
    margin-left: 4vw;
    background-color: #D6BB9C;
    width: 70%;
    border-radius: 4px;
}

.faq-contact-us__section-2__form__input{
    width: 29vw;
    margin-left: 2.5vw;
    margin-bottom: 0.8vw;
}

.faq-contact-us__section-2__form__label__first-label{
    margin-left: 2.5vw;
    font-size: 1.5vw;
}

.faq-contact-us__section-2__form__label{
    margin-left: 2.5vw;
    font-size: 1.5vw;
}

.faq-contact-us__section-2__form__message{
    width: 29vw;
    height: 20vh;
    margin-left: 2.5vw;
}

.faq-contact-us__section-2__form__button{
    margin-top: 1.2vw;
    margin-bottom: 3vw;
    margin-left: 20vw;
    font-size: 2.5vw;
}



footer{
    background-color: #000000;
    color: white;
}

#footer-links{
    padding-top: 5vh;
    float: right;
    margin-right: 7.5vw;
}

.footer-link{
    display: inline;
    font-size: 1.0vw;
}

#eureka-logo-in-footer{
    margin-left: 6vw;
    font-size:3vw;
    padding-bottom: 0; 
    margin-bottom: 0;
}

#company-address{
    margin-left: 6vw;
    padding-bottom: 0%;
    padding-top: 0; 
    margin-top: 0;
    padding-bottom: 0; 
    margin-bottom: 0;
}

#by-eureka {
    margin-left: 6vw;
    padding-top: 0;
    margin-top: 0;
    font-size: 1.3vw;
    padding-bottom: 3.5vh;
}