/* footer{
    background-color: #000000;
    color: white;
}

#footer-links{
    padding-top: 5vh;
    float: right;
    margin-right: 7.5vw;
}

.footer-link{
    display: inline;
    font-size: 1.0vw;
}

#eureka-logo-in-footer{
    margin-left: 6vw;
    font-size:3vw;
    padding-bottom: 0; 
    margin-bottom: 0;
}

#company-address{
    margin-left: 6vw;
    padding-bottom: 0%;
    padding-top: 0; 
    margin-top: 0;
    padding-bottom: 0; 
    margin-bottom: 0;
}

#by-eureka {
    margin-left: 6vw;
    padding-top: 0;
    margin-top: 0;
    font-size: 1.3vw;
    padding-bottom: 3vh;
} */